<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Health Checkup</title>
    <link rel="stylesheet" href="/static/look.css">
</head>
<body>
    <h1>HEALTH CHECKUP</h1>
    <form method="post" action="/check">
        <h2 class="measure">Heart Rate -> 
            <input class="inp" type="text" name="heart_rate">
        </h2>
        <h2 class="measure">Temperature -> 
            <input class="inp" type="text" name="temperature_rate">
        </h2>
        <h2 class="measure">Systolic Blood Pressure -> 
            <input class="inp" type="text" name="systolic_bp">
        </h2>
        <h2 class="measure">Diastolic Blood Pressure -> 
            <input class="inp" type="text" name="diastolic_bp">
        </h2>
        <h2 class="measure">Respiration Rate -> 
            <input class="inp" type="text" name="breathing_rate">
        </h2>
        
        <button type="submit">Checkup</button>
    
    </form>
<img src="https://imgs.search.brave.com/1zQBsJlXhSBPrVYQe0A3vPg15oHjL_bZtiBlJoY0Qis/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/ZnJlZS1waG90by9p/bnRlcm5hdGlvbmFs/LW51cnNlcy1kYXkt/Y29uY2VwdF8yMy0y/MTUwMjA0ODUxLmpw/Zz9zaXplPTYyNiZl/eHQ9anBn" alt="Health Checking Photo">
</body>
</html>
